<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel='stylesheet' href="/stylesheets/everywhere.min.css"/>
</head>
<body>
  <header>
    <nav>
      <div class="container nav-container">
        <div class="row nav-row">
          <a href="/">
            <div class="col-sm-2 logo-col col">
              <img class="logo-img" src="/images/logo.png" alt="Guesstimation - Questions Beat Answers">
            </div>
          </a>
          <div class="col-sm-8 title-col col">
            <p class="title-p">Guesstimation</p>
          </div>
          <div class="col-sm-2 settings-col col">
            <img class="settings-img" src="/images/settings.png" alt="">
          </div>
        </div>
      </div>
      <div class="navpad">
      </div>
    </nav>
  </header>

  <div class="container content-container">
    <%- body -%>
  </div>

  <footer>
  </footer>
</body>
</html>
