<link rel="stylesheet" href="/stylesheets/index.min.css" />
<div class="container index-container">
  <div class="row title-row center-block text-center">
    <h1 class="title-h1">Categories</h1>
    <hr class="title-hr">
  </div>
  <div class="row categories-row-1">
    <div class="col-sm-6 col categories-col">
      <img src="/images/math-icon.png" alt="Math">
    </div>
    <div class="col-sm-6 col categories-col">
      <img src="/images/science-icon.png" alt="Science">
    </div>
  </div>
</div>
