<link rel="stylesheet" href="/stylesheets/index.min.css" />
<div class="container-fluid index-container">
  <div class="row title-row center-block text-center">
    <h1 class="title-h1">Categories</h1>
    <hr class="title-hr">
  </div>
  <div class="row cat-row">
    <div class="col-sm-4 col-sm-offset-1 cat-col-1 col">
      <img class="math-img" src="/images/math-icon.png" alt="Math">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 col-sm-offset-1 cat-col-2 col">
      <img class="science-img" src="/images/science-icon.png" alt="Science">
    </div>
    <div class="col-sm-1">
    </div>
  </div>
  <div class="row cat-row">
    <div class="col-sm-4 col-sm-offset-1 cat-col-3 col">
      <img class="reading-img" src="/images/reading-icon.png" alt="Reading">
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4 col-sm-offset-1 cat-col-4 col">
      <img class="history-img" src="/images/history-icon.png" alt="History">
    </div>
    <div class="col-sm-1">
    </div>
  </div>
</div>
