<link rel="stylesheet" href="/stylesheets/logged-user.min.css" defer>
<link rel="stylesheet" href="/stylesheets/index.min.css" defer/>
<script src="/javascripts/index.js" type="text/javascript" defer></script>

<header class="nav-container">
  <nav>
    <div class="row nav-row">
      <a href="/">
        <div class="col-sm-2 logo-col col">
          <img class="logo-img" src="/images/logo.png" alt="Guesstimation - Questions Beat Answers">
        </div>
      </a>
      <div class="col-sm-8 title-col col">
        <p class="title-p">Guesstimation</p>
      </div>
      <div class="col-sm-2 settings-col col">
        <span href="/logout"><img class="settings-img" src="/images/settings.png" alt=""></span>
      </div>
    </div>
  </nav>
  <div class="navpad">
  </div>
</header>

<div class="content-div">
  <div class="container-fluid index-container">
    <div class="row title-row center-block text-center">
      <h1 class="title-h1">Select Difficulty</h1>
      <h3 class="title-h3">(Ratings based on American curriculum)</h3>
      <hr class="title-hr">
    </div>
    <div class="row diff-row">
      <div class="col-sm-8 diff-info-col col">
        <h2 class="diff-info-h2">Easy</h2>
        <p class="diff-info-p">
          You'll probably be taught something like
          this, before or during high school
        </p>
      </div>
      <div class="col-sm-4 diff-submit-col col">
        <a href="/quiz/early-history" class="diff-submit-btn hvr-buzz-out" type="submit">
          Begin
        </a>
        <div class="diff-submit-hr">
        </div>
        <p class="diff-submit-p">5 of 5 left</p>
      </div>
    </div>
    <div class="diff-row-cover">
      <h1 class="diff-cover-h1">Easy</h1>
    </div>
    <div class="row diff-row">
      <div class="col-sm-8 diff-info-col col">
        <h2 class="diff-info-h2">Hard</h2>
        <p class="diff-info-p">
          Who needs medium? These questions are tough,
          and perhaps, most would be stumped by them
        </p>
      </div>
      <div class="col-sm-4 diff-submit-col col">
        <a href="/quiz/ancient-china" class="diff-submit-btn hvr-buzz-out" type="submit">
          Begin
        </a>
        <div class="diff-submit-hr"></div>
        <p class="diff-submit-p">5 of 5 left</p>
      </div>
    </div>
    <div class="diff-row-cover">
      <h1 class="diff-cover-h1">Hard</h1>
    </div>
    <div class="row diff-row">
      <div class="col-sm-8 diff-info-col col">
        <h2 class="diff-info-h2">Impossible?</h2>
        <p class="diff-info-p">
          Despite their historical significance,
          you're not seriously expected to know how to
          answer any of these questions, ever
        </p>
      </div>
      <div class="col-sm-4 diff-submit-col col">
        <a href="/quiz/world-war-i" class="diff-submit-btn hvr-buzz-out" type="submit">
          Begin
        </a>
        <div class="diff-submit-hr"></div>
        <p class="diff-submit-p">5 of 5 left</p>
      </div>
    </div>
    <div class="diff-row-cover">
      <h1 class="diff-cover-h1">Impossible?</h1>
    </div>
  </div>
</div>

<footer class="container-fluid footer-container">
  <div class="row footer-miami-row">
  </div>
  <div class="row footer-info-row">
    <div class="col-sm-12 footer-info-col col text-center">
      Copyright &copy; Javier Cueto 2017
    </div>
  </div>
</footer>
