<link rel="stylesheet" href="/stylesheets/index.min.css" />
<div class="container-fluid index-container">
  <div class="row title-row center-block text-center">
    <h1 class="title-h1">Select Difficulty</h1>
    <h3 class="title-h3">(Ratings based on American curriculum)</h3>
    <hr class="title-hr">
  </div>
  <div class="row easy-row">
    <div class="col-sm-8 easy-info-col col">
      <div class="row easy-title-row text center">
        <h2>Easy</h2>
      </div>
      <div class="easy-msg-row">
        <p>
          You'll probably be taught something like
          this before or during high school
        </p>
      </div>
    </div>
    <div class="col-sm-4 easy-submit-col col">
      <button type="submit">Begin</button>
      <p>x of y left</p>
    </div>
  </div>
</div>
