<link rel="stylesheet" href="/stylesheets/welcome.min.css">

<div class="content-div">
  <img class="title-img" src="/images/logo.png" alt="logo">
  <p class="title-p">Guesstimation</p>
  <a class="signup-btn btn btn-default hvr-buzz-out" href="/signup">Sign Up</a>
  <a class="login-btn btn btn-default hvr-buzz-out" href="/login">Login</a>
</div>

<footer class="container-fluid footer-container">
  <div class="row footer-miami-row">
  </div>
  <div class="row footer-info-row">
    <div class="col-sm-12 footer-info-col col text-center">
      Copyright &copy; Javier Cueto 2017
    </div>
  </div>
</footer>
