@import "guesstimation-module";

.index-container {

  .title-row {
    width: 100%;
    height: auto;

    .title-h1 {
      font-size: 12vw;
    }

    .title-hr {
      position: relative;
      bottom: 30px;
    }
  }

}
