@import "guesstimation-module";

.quiz-container {

  .title-row {
    width: 100%;
    height: auto;

    .title-h1 {
      font-size: 16vw;
    }

    .title-h3 {
      width: 80%;
      height: auto;
      padding: 4px;
      position: relative;
      bottom: 18px;
      color: white;
      font-size: 7vw;
      background-color: $pallete-3;
    }

    .title-hr {
      position: relative;
      bottom: 10px;
    }
  }

  .problem-row {
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;

    .question-row {
      width: 100%;
      padding: 30px;
      background-color: white;
      @include border-radius(40px);

      p {
        padding-left: 8vw;
        font-size: 8vw;
        color: $pallete-1;
        font-weight: bolder;
      }

      p:first-letter {
        margin-left: -8vw;
      }

    }

    .choice-row {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 3px dashed white;

      .col {
        padding: 20px;
      }

      .letter-col {
        text-align: center;
        font-size: 10vw;
        font-weight: bolder;

      }

      .choice-col {
        font-size: 6vw;
        font-style: italic;
        border-left: 3px dashed white;


      }
    }
  }
}
