@import "guesstimation-module";

body {
  @include border(4px, solid, white);
}

.content-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .title-img {
    width: 30vh;
    height: auto;
    position: relative;;
    top: 10vh;
    left: -8vw;

  }

  .title-p {
    width: 100%;
    height: auto;
    padding: 40px;
    position: absolute;;
    top: 40vh;
    z-index: 1;
    color: white;
    font-size: 11.5vw;
    font-weight: bolder;
    background-image: url('/images/banner.png');
    background-repeat: no-repeat;
    background-size: cover;

  }

  .btn {
    height: auto;
    width: 100%;
    max-width: 400px;
    position: relative;
    font-size: 8vw;
    font-weight: bolder;
    background-repeat: no-repeat;
    @include border-radius(40px);
    cursor: pointer;
    overflow: hidden;
  }

  .signup-btn {
    top: 28vh;
    color: white;
    background-color: transparent;
    @include border(4px, solid, white);

  }

  .login-btn {
    top: 30vh;
    color: $pallete-5;
    background: linear-gradient(
    180deg,
    $pallete-4,
    $pallete-2 45%
    );
    @include border(4px, solid, $pallete-5);
  }
}
